/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 19px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

/**
 * Layout
 */
body {
  background: linear-gradient(to bottom, grey, lightgrey);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

header {
  background: #8B1E41;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 0;
}

ul.flashes {
  animation-duration: 1s;
  animation-name: slidedown;
  color: black;
  list-style: none;
  left: 42%;
  position: absolute;
  top: 140px;
  left: 198px;
}

@keyframes slidedown {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* sections */
section.addCourses {
  position: relative;
  bottom: 20px;
}

section.homePage {
  position: relative;
  bottom: 100px;
}

/* Main */
main.mainLogin {
  position: relative;
  bottom: 85px;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }

  footer p {
    width: 40%;
    position: absolute;
    bottom: 0;
  }
}

/**
 * Forms
 */
form {
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

.navlink:hover {
  background-color: #9B1E48;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbar {
  margin-left: 70px;
  margin-right: -10px;
  margin-top: -8px;
  padding: -1px;
  text-align: center;
  position: fixed;
  top: 40px;
  left: -7%;
}

.navlink {
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;
}

.anchor {
  color: black;
  text-decoration: none;
}
