/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 19px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

/**
 * Layout
 */

 footer {
   position: absolute;
   left: 0;
   bottom: 0;
   background: #8B1E41;
   width: 100%;
   height: 60px;
}

body {
  background-color: darkgrey;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

header {
  background: #8B1E41;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  top: 0;
}

ul.flashes {
  animation-duration: 1s;
  animation-name: slidedown;
  color: red;
  list-style: none;
  left: 42%;
  position: absolute;
  top: 121px;
  left: 163px;
}

@keyframes slidedown {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

section.addCourses {
  position: relative;
  bottom: 75px;
}

section.homePage {
  position: relative;
  bottom: 100px;
}
main.mainLogin {
  position: absolute;
  top: 180px;
  padding-left: 10px;

}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }

  footer p {
    width: 40%;
    position: absolute;
    bottom: 0;
  }
}

/**
 * Forms
 */
form {
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}
