{% extends 'layouts/base.html' %}

{% block styles %}<link rel="stylesheet" href="../../static/styles.css" type="text/css" />{% endblock %}

{% block title %}Add Session{% endblock %}

{% block content %}

<section>
    <a href="/sessions">My Sessions</a>
</section>
<section>
    <form method="POST" id="add_session">
        <label for="course_id">
            Parent Course:
            <select name="course_id" id="course_id" form="add_session">
                {% for course in courses %}
                <option value="{{ course[0] }}">{{ course[1] }}</option>
                {% endfor %}
            </select>
        </label>
        <label for="session_name">
            Session:
            <input type="text" name="session_name" id="session_name">
        </label>
        <label for="day">
            Day:
            <input type="text" name="day" id="day">
        </label>
        <label for="start_time">
            Start Time:
            <input type="text" name="start_time" id="start_time">
        </label>
        <label for="end_time">
            End Time:
            <input type="text" name="end_time" id="end_time">
        </label>
        <section class="student_block">
            <label for="added_students">
                Students in Class:
                <ul>
                    {% for student in students %}
                    <li>
                        <input type="checkbox" name="student{{ student[0] }}" value="{{ student[0] }}"> {{ student[1] }}
                    </li>
                    {% endfor %}
                </ul>
            </label>
        </section>

        <input type="submit" name="submit" id="submit" value="Submit">
    </form>
</section>
{% endblock %}
