{% extends 'layouts/base.html' %}

{% block styles %}<link rel="stylesheet" href="../../static/styles.css" type="text/css"/>{% endblock %}

{% block title %}Assignments{% endblock %}

{% block content %}
<a href="/sessions">Sessions</a>
{% if g.user[3] == 'teacher' %}
<a href="./assignments/create">Create</a>

{% endif %}
<ul>
    {% for assignment in assignments_list %}
    <li>
        <span>{{ assignment[0] }}</span>
        <p>{{ assignment[1] }}</p>
        <section>
            Total Points:
            {{ assignment[2] }}
        </section>
        <a href="./assignments/{{ assignment[3] }}/submissions">View Submissions</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
