{% extends 'layouts/base.html' %}

{% block styles %}<link rel="stylesheet" href="../../static/styles.css" type="text/css" />{% endblock %}

{% block title %}Edit Courses{% endblock %}

{% block content %}
<section>
    <a href="/courses">My Courses</a>
</section>
<section>
    <form method="POST">
        <label for="name">
            Name:
            <input type="text" name="name" id="name" value="{{ info[0] }}">
        </label>
        <label for="code">
            Course Code:
            <input type="text" name="code" id="code" value="{{ info[1] }}">
        </label>
        <label for="description">
            Class Description:
            <input type="text" name="description" id="description" value="{{ info[2] }}">
        </label>

        <input type="submit" name="submit" id="submit" value="Submit">
    </form>
</section>
<section>
    <a href="/sessions/add/{{ info[3] }}">Add Session</a>
    <ul>
    {% for session in sessions %}
        <li>Session: {{ session[1] }}, Days: {{ session[3] }},  Start: {{ session[4] }},  End: {{ session[5] }} <a href="/sessions/add_student/{{ session[0] }}">Add Students</a></li>
    {% endfor %}
    </ul>

</section>
{% endblock %}
