{% extends 'layouts/base.html' %}

{% block styles %}<link rel="stylesheet" href="../../../../../../static/styles.css" type="text/css">{% endblock %}

{% block title %}Grade Submission{% endblock %}



{% block content %}

<a href="../../submissions">Back</a> <!-- blank link right now -->
<form method="POST">
    User: {{ submission[2] }}

    <label for="grade">
        Grade:
        <input type="number" step="0.01" name="grade" id="grade" value="{{ submission[0] }}"> / {{ submission[1] }}
    </label>

    <section class="percentage">
        {{ (submission[0] / submission[1]) * 100 }}%
    </section>

    <input type="submit" name="submit" id="submit" value="Submit">
</form>
{% endblock %}
