{% extends "layouts/base.html" %}
{% block styles %}<link rel="stylesheet" href="../../../../static/styles.css" type="text/css"/>{% endblock %}
{% block title %} Submissions {% endblock %}

{% block content %}

<a class="addsession" href="/sessions/{{ session_id }}/assignments"> Assignments </a>

<ul>
  {% for submission in submission_list %}
<li>{{ submission[0] }}  {{ submission[1] }} <a class="addbutton" href="./submissions/{{ submission[2] }}/update">Grade This</a></li>
  {% endfor %}
</ul>

{% endblock %}
